<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>New Ninja</title>
    <style>
        .box {
            padding:25px 400px 25px 400px;
            
        }
        .select {
        
            margin: 15px 0px 15px 0px;
        }
        .other {
            padding: 15px;
        }
        .form {
            
            border-radius: 5px;
        }
    </style>
</head>
<body>
    <div class="box">
        <div class="form bg-dark text-light p-3 mx-auto my-5">
            <form action="/ninjas/create" method="POST" class="p-3 mx-auto my-5">
                {% with messages = get_flashed_messages() %}
                    {% if messages %}
                        {% for message in messages %}
                            <p>{{message}}</p>
                        {% endfor %}
                    {% endif %}
                {% endwith %}
                <h1 class="text-center">Add a New Ninja</h1>
                <label for="dojo">Dojo:</label>
                <select name="dojo_id" class="select">
                    {% for dojo in dojos %}
                    <option value= {{dojo.id}}>{{dojo.name}}</option>
                    {% endfor %}
                </select>
                <div class="form-group">
                    <label for="first_name">First Name:</label>
                    <input class="form-control" type="text" name="first_name"><br>
                </div>
                <div class="form-group">
                    <label for="last_name">Last Name:</label>
                    <input class="form-control" type="text" name="last_name"><br>
                </div>
                <div class="form-group">
                    <label for="age" >Age:</label>
                    <input class="form-control" type="text" name="age"><br>
                </div>
                <div class="d-flex justify-content-between">
                    <input class="btn btn-success" type="submit" value="Add Ninja">
                    <a href="/dojos" class="btn btn-primary" class="align-center">Home</a>
                </div>
            </form>
        </div>
        
    </div>
</body>
</html>