<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Email Validation</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <style>
        .wider {
            width:500px;
        }
    </style>
</head>
<body class="p-5 text-center">
    <form action="/process" method="POST">
        <div class="bg-dark text-danger">
            {% with messages = get_flashed_messages() %}     <!-- declare a variable called messages -->
            {% if messages %}                            <!-- check if there are any messages -->
                <h2>ERROR</h2>
                    {% for message in messages %}            <!-- loop through the messages -->
                        <p>{{message}}</p>                   <!-- display each message in a paragraph tag -->
                    {% endfor %}
                {% endif %}
            {% endwith %}
        </div>
        <div class="form-group" class="">
            <label for="email">Email Address:</label>
            <input type="text" name="email" class="wider">
            <input class="btn btn-success m-2" type="submit" value="Create">
        </div>
        

    </form>
</body>
</html>